includeConfig "./conf/containers.config"

params {
    // [sort_reads, consensus_gen] 
    entry_point = "sort_reads"
    // set directory containing fastqs
    reads_dir = null

    // set virus resources
    virus_resources_json = null

    // generate consensus entry point
    consensus_mnf = null

    // set where output files should be published
    results_dir = "$launchDir/output/"

    // set virus resource dir
    virus_resources_dir="$projectDir/virus_resources/"
}


docker {
    enabled = false
}

singularity {
    enabled = true
    //autoMounts = true
    //cacheDir = "$PWD"
    //runOptions = "--bind /lustre,/nfs,/software"
}

profiles {
    sanger_local {
        docker {
            enabled = false
        }
        
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /lustre,/nfs,/software"
        }
    }
}
