includeConfig "./conf/containers.config"
includeConfig "./conf/resources_handling.config"

params {
    // [sort_reads, consensus_gen] 
    entry_point = "sort_reads"
    manifest = null

    // kraken database
    db_path = null
    db_library_fa_path = null

    // kraken report filter
    min_reads_for_taxid = 100

    // ivar params
    ivar_depth_treshold = 10 //5
    ivar_min_var_frequency = 0.25 //0.60

    // virus subtyping branching keywords
    scv2_keyword = "Severe acute respiratory syndrome coronavirus 2"

    //subtyping switchs
    do_scov2_subtyping = true

    // generate consensus entry point
    consensus_mnf = null

    // set where output files should be published
    results_dir = "$launchDir/output/"

}


docker {
    enabled = false
}

singularity {
    enabled = true
}

process {
    cache='lenient'

}
profiles {
    sanger_standard {
        docker {
            enabled = false
        }
        
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /lustre,/nfs,/software,/data/"
        }

        process {
            // by default
            cache='lenient'
            executor='local'

            // run k2r on lsf
            withName:run_kraken2ref_and_pre_report{
                executor = 'lsf'
                //label = "mem_k2r_escalate"
                cpus = 1
            }

            // run k2r on lsf
            withName:run_kraken{
                executor='lsf'
                cpus=16
                memory='1 GB'
            }
        }
        executor {
            jobName={ "RVI-preprocess - $task.name - $task.tag" }
            perJobMemLimit=true

        }
    }
}
