/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
includeConfig "../conf/containers.config"

params {
    meta = [id:"test"]
    containers_dir="$CONTAINER_DIR"
    db_path = "${projectDir}/tests/test_data/test_kraken_databases/minimal"
}

process {
    // ignore memory LSF k2r escalation strategy
    withLabel: mem_k2r_escalate {
        memory = "1 GB"
    }
}
