/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    meta = [id:"test"]
    containers_dir = "/lustre/scratch126/gsu/malariagen/production/containers/viral_pipeline/v0.1.0/"
}

process {
    // default container
    container = "${params.containers_dir}/base_container.sif"

    withLabel: ivar {
        container = "${params.containers_dir}/ivar.sif"
    }

    withLabel: kraken {
        container = "${params.containers_dir}/kraken.sif"
    }

    withLabel: pangolin {
        container = "${params.containers_dir}/pangolin.sif"
    }
}