params {
    // sets where to find the containers 
    // NOTE: container_dir needs to be defined as a environment here
    //       in order to give flexibility to nf-test. NF-test config
    //       do not overwrite this parameter, while the pipeline config
    //       does. Therefore, the desired default value must be set at
    //       the nextflow.config
    containers_dir = "$CONTAINER_DIR"
}

process {
    // default container
    container = "${params.containers_dir}/base_container.sif"

    withLabel: ivar {
        container = "${params.containers_dir}/ivar.sif"
    }

    withLabel: kraken {
        container = "${params.containers_dir}/kraken.sif"
    }

    withLabel: pangolin {
        container = "${params.containers_dir}/pangolin.sif"
    }

    withLabel: kraken2ref {
        //container = "${params.containers_dir}/kraken2ref.sif"
        container = "/lustre/scratch126/gsu/team112/personal/ad45/rvi_box/DT2679_improve_k2r_memory_usage/kraken2ref_branch.sif"
        // TEMPORARY CONTAINER, THIS SHOULD BE UPDATED AFTER THE NEW K2R RELEASE
    }
    withLabel: qc {
        container = "${params.containers_dir}/qc.sif"
    }
}
