params {
    // sets where to find the containers 
    containers_dir = "$projectDir/containers/"
}

process {
    // default container
    container = "${params.containers_dir}/base_container.sif"

    withLabel: ivar {
        container = "${params.containers_dir}/ivar.sif"
    }

    withLabel: kraken {
        container = "${params.containers_dir}/kraken.sif"
    }

    withLabel: pangolin {
        container = "${params.containers_dir}/pangolin.sif"
    }

    withLabel: kraken2ref {
        container = "${params.containers_dir}/kraken2ref.sif"
    }

    withLabel: qc {
        container = "${params.containers_dir}/qc.sif"
    }
}
